 <%#NAV %>

<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-screwdriver-wrench"></i> MZ Build and Refurb
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>


  <%#BODY %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.ehstoday.com/files/base/ebm/ehstoday/image/2021/08/construction_workers_at_sunset.6109a7ff1c6ca.png?auto=format,compress&fit=crop&h=556&w=1000&q=45); margin-bottom: 50px">
  <h3> About Us </h3>
</div>


<div class="container" style="width: auto">

  <div class="row" style="text-align: left">
  <h3> Meet our team: </h3>
  </div>

  <div class="row">


  <button type="button" class="collapsible-name">
    <div class="card-product">
      <img src="https://www.build-review.com/wp-content/uploads/2019/07/MOST-TRUSTED-BUILDER.png" />
        <div class="card-product-infos">
          <h2>Ivan Masckal</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
  </div>

</button>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <button type="button" class="collapsible-name">
  <div class="card-product">
    <img src="https://www.checkatrade.com/blog/wp-content/uploads/2021/07/Feature-builder-day-rate-1024x683.jpg" />
      <div class="card-product-infos">
        <h2>Igor Laty</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
  </div>

  </button>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>


</div>
   <%#FOOTER %>

 <div class="footer fixed-bottom" style="position: relative">
    <div class="links">
      <a href="https://www.facebook.com/profile.php?id=100011485906961"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/ANTCRTR"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>Built by AC</p>

    </div>
  </div>


<script>
var coll = document.getElementsByClassName("collapsible-name");
var i;
console.log(coll)
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "flex") {
      content.style.display = "none";
    } else {
      content.style.display = "flex";
    }
  });
}
</script>
