 <%#NAV %>

<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-screwdriver-wrench"></i> MZ Build and Refurb
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>


  <%#BODY %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imageio.forbes.com/specials-images/imageserve/1126750618/Silhouette-of-engineer-and-safety-officer-looking-construction-worker-pouring-a/960x0.jpg?format=jpg&width=960)">
  Contact
</div>

   <%#FOOTER %>

 <div class="footer">
    <div class="links">
      <a href="https://www.facebook.com/profile.php?id=100011485906961"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/ANTCRTR"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>Built by AC</p>

    </div>
  </div>
